.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-inline: 1rem;
}

.home-title {
    font-size: 3rem;
    font-weight: bold;
    color: #f5e6d3;
}

.home-subtitle {
    font-size: 1.1rem;
    color: #e7d7c9
}

.search-wrapper {
    width: 100%;
    max-width: 500px;
}

.recipes-wrapper {
    margin-top: 4rem;
    width: 100%;
}


@media (max-width: 600px) {
    .home-title {
        font-size: 2.2rem;
        line-height: 1.2;
    }
}